name: Build All

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  release:
    name: Create Github Release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
    - uses: benjlevesque/short-sha@v1.2
      id: short-sha
      with:
        length: 8
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.short-sha.outputs.sha }}
        release_name: Release ${{ steps.short-sha.outputs.sha }}
        draft: false
        prerelease: false

  build-windows:
    needs: release
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        # qt_ver: [5.15.2, 6.0.4, 6.1.2]
        qt_ver: [5.12.11, 5.15.2]
        qt_target: [desktop]
        # qt_arch: [win64_msvc2019_64, win32_msvc2019, win64_msvc2017_64, win32_msvc2017, win64_mingw81, win32_mingw81, win64_mingw73, win32_mingw73]
        qt_arch: [win64_msvc2019_64, win32_msvc2019, win64_msvc2017_64, win32_msvc2017]
        exclude: 
        - qt_ver: 5.15.2
          qt_arch: win64_msvc2017_64
        - qt_ver: 5.15.2
          qt_arch: win32_msvc2017
        - qt_ver: 5.15.2
          qt_arch: win64_mingw73
        - qt_ver: 5.15.2
          qt_arch: win32_mingw73
        - qt_ver: 5.12.11
          qt_arch: win64_msvc2019_64
        - qt_ver: 5.12.11
          qt_arch: win32_msvc2019
        - qt_ver: 5.12.11
          qt_arch: win64_mingw81
        - qt_ver: 5.12.11
          qt_arch: win32_mingw81
        include:
          #- qt_arch: win64_mingw81
          #  msvc_arch: x64
          #- qt_arch: win32_mingw81
          #  msvc_arch: x86
          #- qt_arch: win64_mingw73
          #  msvc_arch: x64
          #- qt_arch: win32_mingw73
          #  msvc_arch: x86
          - qt_arch: win64_msvc2019_64
            msvc_arch: x64
          - qt_arch: win32_msvc2019
            msvc_arch: x86
          - qt_arch: win64_msvc2017_64
            msvc_arch: x64
          - qt_arch: win32_msvc2017
            msvc_arch: x86  
    steps:
      - name: Cache Qt
        id: cache-qt
        uses: actions/cache@v1
        with:
          path: ../Qt
          key: ${{ runner.os }}-${{ matrix.qt_ver }}-${{ matrix.qt_arch }}-QtCache
      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: ${{ matrix.qt_ver }}
          target: ${{ matrix.qt_target }}
          arch: ${{ matrix.qt_arch }}
          cached: ${{ steps.cache-qt.outputs.cache-hit }}
      - name: Get Pylon SDK
        uses: gautemo/fetch-api-data-action@1.0.2
        with:
          url: 'https://www.dropbox.com/s/lc6ssugti4wpsjx/pylon.tar.gz?dl=0'
          file: 'pylon.tar.gz'
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Build on MSVC
        shell: cmd
        env:
          vc_arch: ${{ matrix.msvc_arch }}
        run: |
          dir
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" %vc_arch%
          qmake
          nmake
          windeployqt release/Spica.exe
      - name: Archive Release
        uses: thedoctor0/zip-release@master
        with:
          type: 'zip'
          filename: 'release.zip'
          path: release/
      - name: Upload Release Asset
        id: upload-release-asset 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: ./release.zip
          asset_name: release-${{ runner.os }}-${{ matrix.qt_ver }}-${{ matrix.qt_arch }}.zip
          asset_content_type: application/zip
      - name: Upload Release Asset
        id: upload-release-asset-exe
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: release/Spica.exe
          asset_name: Spica-${{ runner.os }}-${{ matrix.qt_ver }}-${{ matrix.qt_arch }}.exe
          asset_content_type: application/octet-stream
          
  build-linux:
    needs: release
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # qt_ver: [5.15.2, 6.0.4, 6.1.2]
        qt_ver: [5.15.2]
        os: [ubuntu-18.04, ubuntu-20.04]
    steps:
      - name: Cache Qt
        id: cache-qt
        uses: actions/cache@v1
        with:
          path: ../Qt
          key: ${{ runner.os }}-QtCache
      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: ${{ matrix.qt_ver }}
          cached: ${{ steps.cache-qt.outputs.cache-hit }}
      - name: Get Pylon SDK
        uses: gautemo/fetch-api-data-action@1.0.2
        with:
          url: 'https://www.dropbox.com/s/lc6ssugti4wpsjx/pylon.tar.gz?dl=0'
          file: 'pylon.tar.gz'
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Build
        run: |
          ls -l
          qmake
          make
      - name: Upload Release Asset
        id: upload-release-asset 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: ./Spica
          asset_name: Spica-${{ runner.os }}-${{ matrix.os }}-${{ matrix.qt_ver }}
          asset_content_type: application/x-elf
          
  build-macos:
    needs: release
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        qt_ver: [5.15.2]  
    steps:
      - name: Cache Qt
        id: cache-qt
        uses: actions/cache@v1
        with:
          path: ../Qt
          key: ${{ runner.os }}-QtCache
      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: ${{ matrix.qt_ver }}
          cached: ${{ steps.cache-qt.outputs.cache-hit }}
      - name: Get Pylon SDK
        uses: gautemo/fetch-api-data-action@1.0.2
        with:
          url: 'https://www.dropbox.com/s/lc6ssugti4wpsjx/pylon.tar.gz?dl=0'
          file: 'pylon.tar.gz'
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Build
        run: |
          ls -l
          qmake
          make
          macdeployqt Spica.app -dmg
      - name: Upload Release Asset
        id: upload-release-asset 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: ./Spica.dmg
          asset_name: Spica-${{ runner.os }}-${{ matrix.qt_ver }}.dmg
          asset_content_type: application/x-apple-diskimage
      - name: Upload Release Asset
        id: upload-release-asset-exe
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: Spica.app/Contents/MacOS/Spica
          asset_name: Spica-${{ runner.os }}-${{ matrix.qt_ver }}
          asset_content_type: application/octet-stream
